<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" id="topbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">天天点餐</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav"   >
                <li class="active"><a href="#" th:action="login">登录</a></li>
                <li><a href="#about">注册</a></li>
                <li><a href="#contact">关于我们</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<ul class="nav nav-pills nav-justified" id="sine">
    <li><a href="#">川菜</a></li>
    <li ><a href="#">鲁菜</a></li>
    <li><a href="#">粤菜</a></li>
    <li><a href="#">苏菜</a></li>
</ul><br><br><br>
</body>
</html>