<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>天天点餐</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css"  th:href="@{css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" th:href="@{css/starter-template.css}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body style="background-color: #222222">
		<div th:replace="commons/bar::#topbar"/>



 <div class="row" style="margin-left: 5%; margin-right: 5%; margin-top: 2%;" >

    <!--<div class="col-sm-6 col-md-3">-->
        <!--<a href="#" class="thumbnail">-->
            <!--<img src="img/timg.jpg" class="img-thumbnail"-->
                 <!--alt="通用的占位符缩略图">-->
            <!--<p>一号餐桌</p>-->
                 <!--<button type="button" class="btn btn-default">预定</button>-->
                 <!--<button type="button" class="btn btn-default">点餐</button>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="col-sm-6 col-md-3">-->
        <!--<a href="#" class="thumbnail">-->
            <!--<img src="img/timg.jpg" class="img-thumbnail"-->
                 <!--alt="通用的占位符缩略图">-->
                 <!--<p>一号餐桌</p>-->
                 <!--<button type="button" class="btn btn-default">预定</button>-->
                 <!--<button type="button" class="btn btn-default">点餐</button>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="col-sm-6 col-md-3">-->
        <!--<a href="#" class="thumbnail">-->
            <!--<img src="img/timg.jpg" class="img-thumbnail"-->
                 <!--alt="通用的占位符缩略图">-->
            <!--<p>一号餐桌</p>-->
                 <!--<button type="button" class="btn btn-default">预定</button>-->
                 <!--<button type="button" class="btn btn-default">点餐</button>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="col-sm-6 col-md-3">-->
        <!--<a href="#" class="thumbnail">-->
            <!--<img src="img/timg.jpg" class="img-thumbnail"-->
                 <!--alt="通用的占位符缩略图">-->
            <!--<p>一号餐桌</p>-->
                 <!--<button type="button" class="btn btn-default">预定</button>-->
                 <!--<button type="button" class="btn btn-default">点餐</button>-->
        <!--</a>-->

    <!--</div>-->
    <!--<div class="col-sm-6 col-md-3">-->
        <!--<a href="#" class="thumbnail">-->
            <!--<img src="img/timg.jpg" class="img-thumbnail"-->
                 <!--alt="通用的占位符缩略图">-->
            <!--<p>一号餐桌</p>-->
                 <!--<button type="button" class="btn btn-default">预定</button>-->
                 <!--<button type="button" class="btn btn-default">点餐</button>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="col-sm-6 col-md-3">-->
        <!--<a href="#" class="thumbnail">-->
            <!--<img src="img/timg.jpg" class="img-thumbnail"-->
                 <!--alt="通用的占位符缩略图">-->
                 <!--<button type="button" class="btn btn-default">预定</button>-->
                 <!--<button type="button" class="btn btn-default">点餐</button>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="col-sm-6 col-md-3">-->
        <!--<a href="#" class="thumbnail">-->
            <!--<img src="img/timg.jpg" class="img-thumbnail"-->
                 <!--alt="通用的占位符缩略图">-->
                 <!--<button type="button" class="btn btn-default">预定</button>-->
                 <!--<button type="button" class="btn btn-default">点餐</button>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="col-sm-6 col-md-3">-->
     <!--<a href="#" class="thumbnail">-->
         <!--<img src="img/timg.jpg" class="img-thumbnail"-->
              <!--alt="通用的占位符缩略图">-->
         <!--<button type="button" class="btn btn-default">预定</button>-->
         <!--<button type="button" class="btn btn-default">点餐</button>-->
     <!--</a>-->

 <!--</div>-->

     <div class="col-sm-6 col-md-3" th:each="canlist:${CanList}">
         <a href="#" class="thumbnail">
             <img src="img/timg.jpg" class="img-thumbnail"
                  alt="通用的占位符缩略图">
             <p th:text="${canlist.getTablename()}"></p>
             <button type="button" class="btn btn-default">预定</button>
             <button type="button" class="btn btn-default">点餐</button>
         </a>

     </div>

</div>

        <ul class="pager" >
            <li><a href="#">首页</a></li>
            <li><a href="#">上一页</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">下一页</a></li>
        </ul>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
