<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>天天点餐</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link  th:href="@{css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/starter-template.css}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body style="background-color: #222222">

  <div th:replace="commons/bar::#topbar"></div>
  <div class="row" style="margin-left: 5%; margin-right: 5%; margin-top: 3%;">

      <div th:replace="commons/bar::#sine"></div>


      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">查看菜单</button>
      <!-- 模态框（Modal） -->

      <div class="row" style="margin-left: 5%; margin-right: 5%; margin-top: 3%;" >
    <div class="row" >
        <div class="col-sm-6 col-md-3" th:each="clist:${CList}">
            <div class="thumbnail">
                <img src="img/chuan (1).jpg" th:src="${clist.img}"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h3 th:text="${clist.foodname}"></h3>
                    <p th:text="${clist.remark}"></p>
                    <p th:text="${clist.price}"></p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">
                            添加
                        </a>

                    </p>
                </div>
            </div>
        </div>
</div>
	            <title>Bootstrap 实例 - 默认的翻页</title>
	            <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
             	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	            <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
             </head>

      <ul class="pager">
      	    <li><a href="#">首页</a></li>
      	    <li><a href="#">上一页</a></li>
	          <li><a href="#">1</a></li>
	          <li><a href="#">下一页</a></li>
      </ul>


     <!-- <div class="starter-template">

     </div>-->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title" id="myModalLabel">已点菜单</h4>
                      </div>
                      <div class="modal-body">
                          <table class="table">
                              <tr>
                                  <th>餐桌编号</th>
                                  <th>订单日期</th>
                                  <th>总价格</th>
                                  <th>订单状态</th>
                              </tr>
                          </table>
                      </div>

                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                          <button type="button" class="btn btn-primary">确定</button>
                          <button type="button" class="btn btn-primary">支付</button>
                      </div>
                  </div><!-- /.modal-content -->
              </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>